@{
    Layout = "_Layout";
}

<div class='container'>
    <div class='jumbotron'>
        <img src='img/contact-image.png' alt='Image of an envelope' class='hero-image no-box-shadow'>
        <p>Don't contact me.</p>
    </div>
</div>
