@{
    Layout = "_Layout";
}

<div class='container'>
    <div class='jumbotron'>
        <img src='img/wordcount.png' alt='Word Count hero image' class='hero-image'>
        <p>Have you ever wanted to count how many times a word appears in a phrase? Now you can find out with the click of a button!</p>
        <a href='word-counter' class='btn btn-info btn-lg'>Play Now!</a>
    </div>
</div>
