.hero-image {
  display: block;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #444;
}

.no-box-shadow {
  box-shadow: none;
}

.error-display {
  visibility: hidden;
  color: red;
  margin: 10px auto;
  height: 30px;
}

.form-group {
  margin: 0 auto;
}

.form-control {
  padding: 20px;
}

#count-word {
  margin-top: 20px;
}

.bold-word {
  font-weight: bold;
}

.results {
  margin-top: 30px;
}
