.hero-image {
  display: block;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #444;
  width: 80%;
  max-width: 816px;
}

#mail-icon {
  display: block;
  margin: 40px auto;
}

#loading-gif {
  display: none;
}

#loading-gif img {
  width: 100px;
}

.error-display {
  visibility: hidden;
  color: red;
  margin: 10px auto;
  height: 30px;
  padding-top: 10px;
}

.form-group {
  margin: 0 auto;
}

.form-control {
  padding: 20px;
}

#count-word {
  margin-top: 30px;
}

.bold-word {
  font-weight: bold;
}

.results, .validation-error {
  margin-top: 30px;
}

/* responsive styles */
@media screen and (max-width: 600px) {
  .hero-image {
    width: 100%;
  }
}
