@{
    string result;
    if (Model.GetWordCount() > 1 || Model.GetWordCount() == 0)
    {
        result = "times";
    }
        else
    {
        result = "time";
    }
}

<div class='jumbotron'>
    <p><span class='bold-word'>Word:</span> @Model.GetUserWord()
    <p><span class='bold-word'>Phrase:</span> @Model.GetUserPhrase()
    <p>Your word <span class='bold-word'>@Model.GetUserWord()</span> appeared @Model.GetWordCount() @result in the given phrase.</p>
</div>
